<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sample Node/Express/MySQL App</title>
        
        <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
        <link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css">
        <!-- <link rel="stylesheet" href="/css/layout.css"> -->
        <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
        <script src="/semantic/semantic.min.js"></script>

    </head>
    <body>
        <nav>
            
        </nav>

        

        {% block content %}{% endblock %}

         <script src="/js/main.js"></script>

    </body>
</html>