
{% extends '../layouts/default.html' %}

{% block content %}
<h1>Update Student Infromation</h1>
<div class="ui raised very padded text container segment">
<form class="ui form" action="create" method="POST">
    <h4 class="ui dividing header">Update Studnet Information</h4>


    

    <!-- Text input-->
    <div class="field">
      <label class="col-md-4 control-label" for="firstName">First Name</label>  
      
          <input id="firstName" name="firstName" type="text" placeholder="First Name" class="form-control input-md" required="">
          <small class="helper"><em>Your first name</em></small>
      
  </div>

  <!-- Text input-->
  <div class="field">
      <label class="col-md-4 control-label" for="lastName">Last Name</label>  
      
          <input id="lastName" name="lastName" type="text" placeholder="Last Name">
          
          <small class="helper"><em>Your last name</em></small>
      
  </div>

  <div class="field">
      <label class="col-md-4 control-label" for="email">Last Name</label>  
      
          <input id="email" name="email" type="text" placeholder="Email Address">
         
           <small class="helper"><em>Your @vcu.edu email address</em></small>
  </div>

<div class="field">
      <label class="col-md-4 control-label" for="selectYear">Class Year</label>

      <select id="selectYear" name="selectYear" class="ui selection dropdown">
          <option value="Freshman">Freshman</option>
          <option value="Sophomore">Sophomore</option>
          <option value="Junior">Junior</option>
          <option value="Senior">Senior</option>
      </select>
  </div>


  <!-- Select Multiple -->
  <div class="field">
      <label class="col-md-4 control-label" for="selectMajor">Major</label>
      
      <select name="selectMajor" class="ui selection dropdown" multiple="" id="selectMajor">

      </select>
      <small class="helper"><em>Select all that apply</em></small>

      
  </div>

  <div class="field">
      <label class="col-md-4 control-label" for="techskills">Technology Skills</label>  
      
          <textarea id="techskills" rows="3" name="techskills" type="text" placeholder="Technology Skills"></textarea>
          
           <small class="helper"><em>Enter your technology skills, such as, MS Office, Adobe Photoshop, ...</em></small>

     
  </div>

 <div class="field">
      <label class="col-md-4 control-label" for="prevexperience">Previous Experience</label>  
      
          <textarea id="prevexperience" rows="4" name="prevexperience" type="text" placeholder="Previous Experience"></textarea>
          
          <small class="helper"><em>Enter your previous experiences</em></small>

  </div>

  <div class="field">
      <label class="col-md-4 control-label" for="additionalinfo">Additional Information</label>  
     
          <textarea id="additionalinfo" rows="4" name="additionalinfo" type="text" placeholder="Additional Information"></textarea>
          
          <small class="helper"><em>Additional Information</em></small>
      
  </div>

  <!-- Select Basic -->
  

  <!-- Button -->
  <div class="field">
      <label class="col-md-4 control-label" for="buttonSubmit"></label>
      
      <button id="buttonSubmit" name="buttonSubmit" class="ui button">Update</button>

  </div>



</form>
</div>
{% endblock %}