
{% extends '../layouts/default.html' %}

{% block content %}
<h1>Student Infromation</h1>
<div class="ui raised very padded text container segment">
<form class="ui form" action="create" method="POST">
    <h4 class="ui dividing header">Studnet Information</h4>


    

    <!-- Text input-->
    <div class="field">
      <label class="col-md-4 control-label" for="firstName">First Name</label>  
      
          <input id="firstName" name="firstName" type="text" placeholder="First Name" class="form-control input-md" required="">
          <small class="helper"><em>Some message.</em></small>
      
  </div>

  <!-- Text input-->
  <div class="field">
      <label class="col-md-4 control-label" for="lastName">Last Name</label>  
      <div class="col-md-4 ui input">
          <input id="lastName" name="lastName" type="text" placeholder="Last Name">
          <span class="help-block">your last name</span>  
      </div>
  </div>

  <div class="field">
      <label class="col-md-4 control-label" for="email">Last Name</label>  
      <div class="col-md-4 ui input">
          <input id="email" name="email" type="text" placeholder="Email Address">
          <span class="help-block">Your @vcu.edu email address</span>  
      </div>
  </div>

<div class="field">
      <label class="col-md-4 control-label" for="selectYear">Class Year</label>

      <select id="selectYear" name="selectYear" class="ui selection dropdown">
          <option value="Freshman">Freshman</option>
          <option value="Sophomore">Sophomore</option>
          <option value="Junior">Junior</option>
          <option value="Senior">Senior</option>
      </select>
  </div>


  <!-- Select Multiple -->
  <div class="field">
      <label class="col-md-4 control-label" for="selectMajor">Major</label>
      
      <select name="selectMajor" class="ui selection dropdown" multiple="" id="selectMajor">

      </select>

      
  </div>

  <div class="field">
      <label class="col-md-4 control-label" for="techskills">Last Name</label>  
      <div class="col-md-4 ui input">
          <input id="techskills" name="techskills" type="text" placeholder="Technology Skills">
          <span class="help-block">Enter your technology skills, such as, MS Office, Adobe Photoshop, ...</span>  
      </div>
  </div>

 <div class="field">
      <label class="col-md-4 control-label" for="prevexperience">Last Name</label>  
      <div class="col-md-4 ui input">
          <input id="prevexperience" name="prevexperience" type="text" placeholder="Previous Experience">
          <span class="help-block">Enter your previous experiences</span>  
      </div>
  </div>

  <div class="field">
      <label class="col-md-4 control-label" for="additionalinfo">Last Name</label>  
      <div class="col-md-4 ui input">
          <input id="additionalinfo" name="additionalinfo" type="text" placeholder="Additional Information">
          <span class="help-block">Additional Information</span>  
      </div>
  </div>

  <!-- Select Basic -->
  

  <!-- Button -->
  <div class="field">
      <label class="col-md-4 control-label" for="buttonSubmit"></label>
      
      <button id="buttonSubmit" name="buttonSubmit" class="btn btn-primary">Update</button>

  </div>



</form>
</div>
{% endblock %}