{% extends '../layouts/default.html' %}

{% block content %}
    <h1>Student Infromation</h1>
<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Form Name</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="firstName">First Name</label>  
  <div class="col-md-4">
  <input id="firstName" name="firstName" type="text" placeholder="First Name" class="form-control input-md" required="">
  <span class="help-block">your first name </span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="lastName">Last Name</label>  
  <div class="col-md-4">
  <input id="lastName" name="lastName" type="text" placeholder="Last Name" class="form-control input-md">
  <span class="help-block">your last name</span>  
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectYear">Class Year</label>
  <div class="col-md-4">
    <select id="selectYear" name="selectYear" class="form-control">
      <option value="Freshman">Freshman</option>
      <option value="Sophomore">Sophomore</option>
      <option value="Junior">Junior</option>
      <option value="Senior">Senior</option>
    </select>
  </div>
</div>

<!-- Select Multiple -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectMajor">Major</label>
  <div class="col-md-4">
    <select id="selectMajor" name="selectMajor" class="form-control" multiple="multiple">
      <option value="1">Option one</option>
      <option value="2">Option two</option>
    </select>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="buttonSubmit"></label>
  <div class="col-md-4">
    <button id="buttonSubmit" name="buttonSubmit" class="btn btn-primary">Update</button>
  </div>
</div>

</fieldset>
</form>

{% endblock %}